  <!-- Javascript Files
  ================================================== -->

  <!-- initialize jQuery Library -->
  <script src="{{ "plugins/jQuery/jquery.min.js" | prepend: site.baseurl }}"></script>
  <!-- Bootstrap jQuery -->
  <script src="{{ "plugins/bootstrap/bootstrap.min.js" | prepend: site.baseurl }}"></script>
  <!-- Slick Carousel -->
  <script src="{{ "plugins/slick/slick.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "plugins/slick/slick-animation.min.js" | prepend: site.baseurl }}"></script>
  <!-- Color box -->
  <script src="{{ "plugins/colorbox/jquery.colorbox.js" | prepend: site.baseurl }}"></script>
  <!-- shuffle -->
  <script src="{{ "plugins/shuffle/shuffle.min.js" | prepend: site.baseurl }}"></script>


  <!-- Google Map -->
  <!-- 
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU" defer></script>
  <script src="{{ "plugins/google-map/map.js" | prepend: site.baseurl }}"></script>
  -->
  <!-- Template custom -->
  <script src="{{ "js/script.js" | prepend: site.baseurl }}"></script>