<section id="ts-service-area" class="ts-service-area pb-0">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h2 class="section-title">We Are Specialists In</h2>
        <h3 class="section-sub-title">What We Do</h3>
      </div>
    </div>
    <!--/ Title row end -->

    <div class="row">
      <div class="col-lg-4">
        <div class="ts-service-box d-flex">
          <div class="ts-service-box-img">
            <img loading="lazy" src="/images/icon-image/service-icon1.png" alt="service-icon">
          </div>
          <div class="ts-service-box-info">
            <h3 class="service-box-title"><a href="#">Infrastructure solution</a></h3>
            <p>We deeply understand the importance of excellent infrastructure landscape to organization's strategy
              and business.
              We have experts with rich experience on the scalable infrastructure solution designing and
              implementation,
              we also have the support teams to help customer maintain their existing IT infrastructure.
              Key abilities of our team are listed for customer's AS-IS/TO-BE IT infrastructure</p>
          </div>
        </div><!-- Service 1 end -->

        <div class="ts-service-box d-flex">
          <div class="ts-service-box-img">
            <img loading="lazy" src="/images/icon-image/service-icon2.png" alt="service-icon">
          </div>
          <div class="ts-service-box-info">
            <h3 class="service-box-title"><a href="#">SAP solution</a></h3>
            <p>We have rich experience with SAP solutions in business, technique and development perspectives. We help
              customers to build their SAP landscape from scratch: business analysis, solution design, implementation
              and maintenance suppport. Our capability covers SAP ERP, CRM, SRM, BW, Ariba, etc</p>
          </div>
        </div><!-- Service 2 end -->

        <div class="ts-service-box d-flex">
          <div class="ts-service-box-img">
            <img loading="lazy" src="/images/icon-image/service-icon3.png" alt="service-icon">
          </div>
          <div class="ts-service-box-info">
            <h3 class="service-box-title"><a href="#">RPA solution</a></h3>
            <p>Robotic process automation (RPA) is a technology that mimics the way humans interact with software to
              perform high-volume, repeatable tasks. RPA technology help customers greatly improve efficiency on
              repeating tasks such as routine data operations for invoice processing, employee onboarding, payroll
              procssing, etc.
              Our certificated professional team can help customer to identify and reshape the appropriate business
              process: let machine do the repeating work while human being focus on more creative activities.
              Below listed the key abilities of our RPA solutions: </p>
          </div>
        </div><!-- Service 3 end -->

      </div><!-- Col end -->

      <div class="col-lg-4 text-center">
        <img loading="lazy" class="img-fluid" src="/images/services/service-center.jpg" alt="service-avater-image">
      </div><!-- Col end -->

      <div class="col-lg-4 mt-5 mt-lg-0 mb-4 mb-lg-0">
        <div class="ts-service-box d-flex">
          <div class="ts-service-box-img">
            <img loading="lazy" src="/images/icon-image/service-icon4.png" alt="service-icon">
          </div>
          <div class="ts-service-box-info">
            <h3 class="service-box-title"><a href="#">Application Monitoring Solution</a></h3>
            <p>Keeping applications and infrastructure working properly is one the the most important responsibility
              of the IT department of organizations. The key to successful IT maintenance is the instant insight of
              status of congituration items, which could be realized by a right and properly customized monitoring
              tool.</p>
          </div>
        </div><!-- Service 4 end -->

        <div class="ts-service-box d-flex">
          <div class="ts-service-box-img">
            <img loading="lazy" src="/images/icon-image/service-icon5.png" alt="service-icon">
          </div>
          <div class="ts-service-box-info">
            <h3 class="service-box-title"><a href="#">OA solution</a></h3>
            <p>In today’s digital age, an OA system offer an array of benefits for organizations of every size.
              Powerful office automation systems reduce manual effort and store a large amount of data in little
              space.
              We help customers to identify their specific operational needs to decide the right solution.</p>
          </div>
        </div><!-- Service 5 end -->

        <div class="ts-service-box d-flex">
          <div class="ts-service-box-img">
            <img loading="lazy" src="/images/icon-image/service-icon6.png" alt="service-icon">
          </div>
          <div class="ts-service-box-info">
            <h3 class="service-box-title"><a href="#">General Applicaiton solution</a></h3>
            <p>We can help customer to provide the designing, developing and maintaining of customized Web site
              applicaiton, cross-platform mobile application to support business processes.</p>
          </div>
        </div><!-- Service 6 end -->
      </div><!-- Col end -->
    </div><!-- Content row end -->

  </div>
  <!--/ Container end -->
</section><!-- Service end -->