<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">如需以下服务，请致电xxx-xxx-xxxx</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-question fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">初次安装及软件问题解决服务</h4>
                    <p class="text-muted">如果您在安装或使用免费的专业版时需要帮助，请联系我们，我们提供专业人员为您提供安装或问题解决服务</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-server fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">SAP AMS问题解决服务</h4>
                    <p class="text-muted">如果您需要我们帮助您解决SAP系统的问题，请联系我们，我们提供专业顾问帮助您解决问题</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                        <i class="fa pencil-square-o fa-flip-horizontal fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">监控定制服务</h4>
                    <p class="text-muted">如果您需要定制您的监控系统或者有特殊的要求，请联系我们，我们可以为您提供定制服务</p>
                </div>
            </div>
        </div>
    </section>